{% extends 'base.html.twig' %}

{% block title %}Nouveau Joueur{% endblock %}

{% block body %}
<h1>Nouveau Joueur</h1>

{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.dateNaissance) }}
    {{ form_row(form.category) }}
    {{ form_row(form.level) }}
    <button class="btn" type="submit">Créer</button>
    <a href="{{ path('admin_player_index') }}">Retour</a>
{{ form_end(form) }}
{% endblock %}
